OPEN_AI_KEY = '<your key>'
UV_COMMAND = '<path for uv run, use "which uv">'
MCP_PATH = '</full/path/to/mcp-sqlite-server/sqlite_sdio_mcp_server.py>'
EMAIL_USER = '<your email>'
EMAIL_PASSWORD = '<email password>'
MAILBOX = '<mailbox, e.g. "[Gmail]/All Mail">'
