OPEN_AI_KEY = '<OpenAI key>'
EMAIL_USER = '<your email>'
EMAIL_PASSWORD ='< your email password>'
CALENDAR_PASSWORD = '<password, check it is without spaces>'
CALENDAR = '<calendar to check in Google Calendar>'
UV_COMMAND = '<path for uv run, use "which uv">'
MCP_DIR_PATH = '</full/path/to/Office-Word-MCP-Server/>'
